$pure-white: #fff;
$shadow: rgba(255, 255, 255, 0.2);
$hover: rgba(111, 126, 170, 0.7);
$text-muted: rgba(255, 255, 255, 0.6);
$warning: rgba(0, 0, 0, 0.7);
$dark-blue: rgb(6, 18, 53);
$loading-bg: rgb(33, 62, 151);